#  _   _                  _                 _  
# | | | |_   _ _ __  _ __| | __ _ _ __   __| | 
# | |_| | | | | '_ \| '__| |/ _` | '_ \ / _` | 
# |  _  | |_| | |_) | |  | | (_| | | | | (_| | 
# |_| |_|\__, | .__/|_|  |_|\__,_|_| |_|\__,_| 
#        |___/|_|                              
#  

{{- if .hyprland.debug }}
# Enable Debug logs
debug:disable_logs = false
{{- end }}

# ----------------------------------------------------- 
# Monitor & Workspaces
# ----------------------------------------------------- 
source = ~/.config/hypr/conf/monitor.conf
source = ~/.config/hypr/conf/workspaces.conf

# ----------------------------------------------------- 
# Cursor & Theme
# ----------------------------------------------------- 
source = ~/.config/hypr/conf/theme.conf
source = ~/.config/hypr/conf/cursor.conf

{{- if .nvidia }}
# ----------------------------------------------------- 
# Nvidia
# ----------------------------------------------------- 
source = ~/.config/hypr/conf/nvidia.conf
{{- end }}

# ----------------------------------------------------- 
# Environment
# ----------------------------------------------------- 
source = ~/.config/hypr/conf/environment.conf

# ----------------------------------------------------- 
# Input
# ----------------------------------------------------- 
source = ~/.config/hypr/conf/input.conf

# ----------------------------------------------------- 
# Gestures
# ----------------------------------------------------- 
source = ~/.config/hypr/conf/gestures.conf

# ----------------------------------------------------- 
# Autostart
# ----------------------------------------------------- 
source = ~/.config/hypr/conf/autostart.conf

# ----------------------------------------------------- 
# Auto shutdown
# ----------------------------------------------------- 
source = ~/.config/hypr/conf/autoshutdown.conf

# ----------------------------------------------------- 
# Load configuration files
# ----------------------------------------------------- 
source = ~/.config/hypr/conf/window.conf
source = ~/.config/hypr/conf/decoration.conf
source = ~/.config/hypr/conf/layout.conf
source = ~/.config/hypr/conf/plugin.conf
source = ~/.config/hypr/conf/misc.conf
source = ~/.config/hypr/conf/keybindings.conf
source = ~/.config/hypr/conf/windowrules.conf

# ----------------------------------------------------- 
# Animation
# ----------------------------------------------------- 
source = ~/.config/hypr/conf/animations.conf

