-- Main entry point for Hyprland Lua config.

{{- if .hyprland.debug }}
-- Enable Debug logs
hl.config({
    debug = {
        disable_logs = false
    }
})
{{- end }}

require("conf.monitor")
require("conf.workspaces")

require("conf.theme")
require("conf.cursor")

{{- if .nvidia }}
require("conf.nvidia")
{{- end }}

require("conf.environment")

require("conf.input")

require("conf.gestures")

require("conf.autostart")

require("conf.autoshutdown")

require("conf.window")
{{- if .noctalia.enabled }}
require("noctalia.decoration")
require("noctalia.noctalia-colors")
{{- else }}
require("conf.decoration")
{{- end }}
require("conf.layout")
require("conf.plugin")
require("conf.misc")
require("conf.keybindings")
require("conf.windowrules")

require("conf.animations")
