{{- if eq .chezmoi.os "linux" -}}
{{-   if and (.chezmoi.kernel.osrelease | lower | contains "microsoft") (ne .super_slicer.windows_path "") -}}
#!/bin/sh

if [ -d {{ .super_slicer.windows_path }} ]; then
    rm -r {{ .super_slicer.windows_path }}.old
    mv {{ .super_slicer.windows_path }} {{ .super_slicer.windows_path }}.old
fi
cp -r ~/.config/SuperSlicer {{ .super_slicer.windows_path }}
{{-  end }}
{{- end }}