chezmoi:template:missing-key=invalid

progress = true
verbose = true

[git]
  autoCommit = true
  autoPush = true

[edit]
  command = "code"
  args = ["--wait"]

[data]
  wayland = {{ default false .wayland }}
  nvidia = {{ default false .nvidia }}
  hy3 = {{ default false .hy3 }}
  hyprexpo = {{ default false .hyprexpo }}
  hyprspace = {{ default false .hyprspace }}
  splitMonitorWorkspaces = {{ default false .splitMonitorWorkspaces }}
  oh_my_posh = {{ default false .oh_my_posh }}
  powerline_go = {{ default false .powerline_go }}
  caelestia = {{ default false .caelestia }}

[data.waybar]
  battery = {{ default false .waybar.battery }}

[data.git]
  email = {{ (default "" .git.email) | quote }}
  name = {{ (default "" .git.name) | quote }}
  enable_signing = {{ default false .git.enable_signing }}
  signing_key = {{ (default "" .git.signing_key) | quote }}

[data.super_slicer]
  include = {{ default false .super_slicer.include }}
  windows_path = {{ (default "" .super_slicer.windows_path) | quote }}
  pb_local_address = {{ (default "" .super_slicer.pb_local_address) | quote }}
  pb_address = {{ (default "" .super_slicer.pb_address) | quote }}
  v2_local_address = {{ (default "" .super_slicer.v2_local_address) | quote }}
  v2_address = {{ (default "" .super_slicer.v2_address) | quote }}
  client_cert_location = {{ (default "" .super_slicer.client_cert_location) | quote }}
  client_cert_password = {{ (default "" .super_slicer.client_cert_password) | quote }}

[[data.monitors]]
  {{- if and .monitors (index .monitors 0) }}
    name = {{ (default "" (index .monitors 0).name) | quote }}
    resolution = {{ (default "preferred" (index .monitors 0).resolution) | quote }}
    position = {{ (default "auto" (index .monitors 0).position) | quote }}
    scale = {{ (default "1" (index .monitors 0).scale) | quote }}
  {{- else }}
    name = ""
    resolution = "preferred"
    position = "auto"
    scale = "1"
  {{- end }}

