README.md
**/*.src.ini
symlinks
system
.config/hypr/matugen-colors.conf
.config/hypr/noctalia/noctalia-colors.conf
.config/hypr/noctalia.lua
.config/easyeffects
{{- if and .noctalia.enabled .noctalia.beta }}
.config/noctalia/templates
.config/noctalia/user-templates.toml
{{- end}}