chezmoi:template:missing-key=invalid

progress = true
verbose = true

[git]
  autoCommit = false
  autoPush = false

[edit]
  command = "code"
  args = ["--wait"]

[data]
  wayland = {{ default false .wayland }}
  nvidia = {{ default false .nvidia }}
  package_installation = {{ default false .package_installation }}

[data.zsh]
  oh_my_posh = {{ default false .zsh.oh_my_posh }}
  powerline_go = {{ default false .zsh.powerline_go }}

[data.hyprland]
  debug = {{ default false .hyprland.debug }}
  hy3 = {{ default false .hyprland.hy3 }}
  hyprspace = {{ default false .hyprland.hyprspace }}
  hyprlauncher = {{ default false .hyprland.hyprlauncher }}

[data.waybar]
  enabled = {{ default false .waybar.enabled }}
  battery = {{ default false .waybar.battery }}

[data.quickshell]
  enabled = {{ default false .quickshell.enabled }}
  noctalia = {{ default false .quickshell.noctalia }}

[data.git]
  email = {{ (default "" .git.email) | quote }}
  name = {{ (default "" .git.name) | quote }}
  enable_signing = {{ default false .git.enable_signing }}
  signing_key = {{ (default "" .git.signing_key) | quote }}

{{ if and .monitors (gt (len .monitors) 0) }}
  {{- range $index, $element := .monitors }}
[[data.monitors]]
  name = {{ (default "" $element.name) | quote }}
  resolution = {{ (default "preferred" $element.resolution) | quote }}
  position = {{ (default "auto" $element.position) | quote }}
  scale = {{ (default "1" $element.scale) | quote }}
  {{- end}}
{{- else }}
[[data.monitors]]
  name = ""
  resolution = "preferred"
  position = "auto"
  scale = "1"
{{- end }}

