[user]
	email = {{ .git.email }}
	name = {{ .git.name }}
{{- if .git.enable_signing }}
	signingkey = {{ .git.signing_key }}
{{- end }}

[init]
	defaultBranch = master

[color]
	ui = auto

[pull]
	rebase = false

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

{{ if .git.enable_signing -}}
[commit]
	gpgsign = true
[gpg]
	program = gpg2
{{- end }}
