{
    "layer": "top",
    "position": "top",

    // Choose the order of the modules
    "modules-left": [
        "hyprland/workspaces",
        "custom/playerctl#backward",
        "custom/playerctl#play",
        "custom/playerctl#forward",
        "custom/now_playing"
    ],
    "modules-center": [
    ],
    "modules-right": [
        "privacy",
        "cpu",
        "memory",
        "disk",
        "cava",
        "pulseaudio",
        "network",
        "tray",
{{- if .waybar.battery }}
        "battery",
{{- end }}
        "clock#date",
        "clock"
    ],
    // Modules configuration
    "hyprland/workspaces": {
        // "format": "{name}",
        "on-scroll-up": "hyprctl dispatch workspace e+1",
        "on-scroll-down": "hyprctl dispatch workspace e-1",
        "on-click": "activate",
        "format": "{icon}",
        "format-icons": {
        "urgent": "",
        "active": "", // focused workspace on current monitor 
        "visible": "", // focused workspace on other monitors
        "default": "",
        "empty": "" // persistent (created by this plugin)
        },
        "all-outputs": false // recommended
    },
    "cava": {
        //        "cava_config": "$XDG_CONFIG_HOME/cava/cava.conf",
        "framerate": 60,
        "autosens": 1,
        // "sensitivity": 1,
        "bars": 10,
        "lower_cutoff_freq": 50,
        "higher_cutoff_freq": 10000,
        "method": "pipewire",
        "source": "auto",
        "stereo": false,
        "reverse": false,
        "bar_delimiter": 0,
        "monstercat": true,
        "waves": false,
        "noise_reduction": 0.77,
        "input_delay": 2,
        "hide_on_silence": true,
        "format-icons" : ["\u2581", "\u2582", "\u2583", "\u2584", "\u2585", "\u2586", "\u2587", "\u2588" ],
        "actions": {
            "on-click-right": "mode"
        }
    },
    "keyboard-state": {
        "numlock": true,
        "capslock": true,
        "format": "{name} {icon}",
        "format-icons": {
            "locked": "",
            "unlocked": ""
        }
    },

    "tray": {
        "icon-size": 20,
        "spacing": 8,
        "show-passive-items": true
    },
{{- if .waybar.battery }}
    "battery": {
        "interval": 10,
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{icon} {capacity}%",
        "format-charging": "{icon} {capacity}%",
        "format-icons": {
            "default": ["󰁺", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"],
            "charging": ["󰢜", "󰂆", "󰂇", "󰂈", "󰢝", "󰂉", "󰢞", "󰂊", "󰂋" "󰂅"]
        }
    },
{{- end }}
    "clock": {
        // "format": "{:%d %b %Y - (%R)} \uf017 ",
        "timezone": "Europe/Amsterdam",
        // "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        // "format-alt": "{:%H:%M} \uf017 "
        "format": " {:%H:%M}",
        "tooltip": "true",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        // "format-alt": " {:%d/%m}"
    },
    "clock#date": {
        // "format": "{:%d %b %Y - (%R)} \uf017 ",
        "timezone": "Europe/Amsterdam",
        // "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        // "format-alt": "{:%H:%M} \uf017 "
        "format": " {:%d/%m}",
        "tooltip": "true",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        // "format-alt": " {:%d/%m}"
    },

    "cpu": {
        // "format": "{usage}% ",
        // "tooltip": false
        "format": " {usage}%",
        "format-alt": " {avg_frequency} GHz",
        "interval": 2
    },

    "memory": {
        // "format": "{}% "
        "format": "󰟜 {}%",
        "format-alt": "󰟜 {used} GiB",
        "interval": 2
    },

    "disk": {
        "format": "󰋊 {percentage_used}%",
        "interval": 60
    },

    "network": {
        // "interface": "wlp2*", // (Optional) To force the use of this interface
        "format-wifi": "  {signalStrength}%",
        "format-ethernet": "",
        "tooltip-format": " {ifname} via {gwaddr}",
        "format-linked": " {ifname} (No IP)",
        "format-disconnected": "⚠ Disconnected",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    },

    "pulseaudio": {
        // "scroll-step": 1, // %, can be a float
        "format": "{icon} {volume}%",
        "format-muted": "󰖁",
        "format-source": "{volume}% ",
        "format-source-muted": "",
        "format-icons": {
            "default": [
                "",
                "",
                ""
            ]
        },
        "on-click": "pavucontrol",
        "scroll-step": 5
    },

    "privacy": {
        "icon-spacing": 8,
        "icon-size": 18,
        "transition-duration": 250,
        "modules": [
            {
                "type": "screenshare",
                "tooltip": true,
                "tooltip-icon-size": 24
            },
            {
                "type": "audio-out",
                "tooltip": true,
                "tooltip-icon-size": 24
            },
            {
                "type": "audio-in",
                "tooltip": true,
                "tooltip-icon-size": 24
            }
        ]
    },
    
    "custom/now_playing": {
        "format": "{icon} {}",
        "return-type": "json",
        "max-length": 40,
        "format-icons": {
            "spotify": "",
            "default": "🎜"
        },
        "escape": true,
        "exec": "$HOME/.config/waybar/utils/mediaplayer.py 2> /dev/null" // Script in resources folder
    },

    "custom/playerctl#backward": {
        "format": "󰙣 ",
        "on-click": "playerctl previous",
        "on-scroll-up": "playerctl volume .05+",
        "on-scroll-down": "playerctl volume .05-",
        "tooltip": true
    },
    "custom/playerctl#play": {
        "format": "{icon} ",
        "return-type": "json",
        "exec": "playerctl -a metadata --format '{\"text\": \"{{ "{{artist}}" }} - {{ "{{markup_escape(title)}}" }}\", \"tooltip\": \"{{ "{{playerName}}" }} : {{ "{{markup_escape(title)}}" }}\", \"alt\": \"{{ "{{status}}" }}\", \"class\": \"{{ "{{status}}" }}\"}' -F",
        "on-click": "playerctl play-pause",
        "on-scroll-up": "playerctl volume .05+",
        "on-scroll-down": "playerctl volume .05-",
        "format-icons": {
            "Playing": "󰏥",
            "Paused": "",
            "Stopped": ""
        },
        "tooltip": true
    },
    "custom/playerctl#forward": {
        "format": "󰙡 ",
        "on-click": "playerctl next",
        "on-scroll-up": "playerctl volume .05+",
        "on-scroll-down": "playerctl volume .05-",
        "tooltip": true
    }
}