@define-color primary_accent #89b4fa;
@define-color secondary_accent #cba6f7;
@define-color tertiary_accent #f5f5f5;

@define-color primary_background #25253A;
@define-color secondary_background #1b1b2b;
@define-color tertiary_background #11111B;

* {
    border: none;
    border-radius: 0px;
    font-family: 'Cascadia Mono', 'Symbols Nerd Font Mono';
    font-size: 15px;
    min-height: 0;
    opacity: 0.98;
}

window#waybar {
    background: none;

    /* padding-left: 15px;
    padding-right: 15px; */
    /* border-radius: 16px; */
    /* margin-top: 5px;
    margin-bottom: 5px; */
}

#tray,
#pulseaudio,
#network,
#cpu,
#memory,
#disk,
#workspaces,
#clock,
#privacy,
#cava,
#battery,
#custom-now_playing,
#custom-playerctl.backward,
#custom-playerctl.play,
#custom-playerctl.forward {
    color: @tertiary_accent;
    background: @primary_background;
    font-weight: bold;
    margin: 5px 0px;
    padding: 8px 0;
}

#workspaces {
    margin-left: 7px;
    padding: 8px 12px;
    border-radius: 10px 10px 24px 10px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 15px;
    color: @primary_background;
    background: @primary_accent;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    background-color: @secondary_accent;
    color: @primary_background;
    border-radius: 15px;
    min-width: 35px;
    background-size: 200% 200%;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    background-color: @secondary_accent;
    color: @primary_background;
    border-radius: 15px;
    min-width: 35px;
    text-shadow: none;
}

#privacy {
    border-radius: 10px 24px 10px 24px;
    padding: 0 20px;
    margin-left: 7px;
}

#cpu {
    border-radius: 10px 0px 0px 24px;
    padding-left: 15px;
    padding-right: 9px;
    margin-left: 7px;
}

#memory {
    border-radius: 0px 0 0px 0px;
    padding-left: 9px;
    padding-right: 9px;
}

#disk {
    border-radius: 0px 24px 10px 0px;
    padding-left: 9px;
    padding-right: 15px;
}

#tray {
    border-radius: 10px 24px 10px 24px;
    padding: 0 20px;
    margin-left: 7px;
}

#battery {
    border-radius: 10px 24px 10px 24px;
    padding: 0 20px;
    margin-left: 7px;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#cava {
    border-radius: 10px 24px 10px 24px;
    padding: 4px 16px;
    margin-left: 7px;
}

#pulseaudio {
    border-radius: 10px 0px 0px 24px;
    padding-left: 15px;
    padding-right: 9px;
    margin-left: 7px;
}

#network {
    border-radius: 0px 24px 10px 0px;
    padding-left: 9px;
    padding-right: 15px;
}

#clock {
    border-radius: 10px 10px 10px 24px;
    margin-right: 7px;
    margin-left: 7px;
    padding: 8px 12px;
}

#clock.date {
    border-radius: 10px 24px 10px 24px;
    padding: 0 20px;
    margin-left: 7px;
    margin-right: 0;
}

#custom-now_playing {
    border-radius: 24px 10px 24px 10px;
    padding-left: 9px;
    padding-right: 15px;
}

#custom-playerctl.backward,
#custom-playerctl.play,
#custom-playerctl.forward {
    font-size: 22px;
    font-weight: normal;
}

#custom-playerctl.backward:hover,
#custom-playerctl.play:hover,
#custom-playerctl.forward:hover {
    color: @primary_accent;
}

#custom-playerctl.backward {
    border-radius: 24px 0px 0px 10px;
    padding-left: 16px;
    margin-left: 7px;
}

#custom-playerctl.play {
    padding: 0 5px;
}

#custom-playerctl.forward {
    border-radius: 0px 10px 24px 0px;
    padding-right: 12px;
    margin-right: 7px
}