# ----------------------------------------------------- 
# Autostart
# ----------------------------------------------------- 

{{- if .waybar.enabled }}
# Launch waybar
exec-once = ~/.config/hypr/scripts/launchWaybar.sh
{{- end }}

# Launch Quickshell
{{- if and .quickshell.caelestia .quickshell.enabled }}
exec-once = qs -c caelestia
{{- else if .quickshell.enabled }}
exec-once = qs -c quickway
{{- end }}

# Reload plugins and send notification if something goes wrong
exec-once = hyprpm reload -n
# exec-once = hyprctl reload

# Setup XDG for screen sharing
exec-once = ~/.config/hypr/scripts/xdg.sh

# Setup socket2 scripting
exec-once = ~/.config/hypr/scripts/socket2.sh

# Start Polkit
# exec-once=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec-once= systemctl --user start hyprpolkitagent.service

# Start keyring deamon
# exec-once = /usr/bin/gnome-keyring-daemon --start --components = secrets,pkcs11

# Run hypridle
exec-once = systemctl start --user hypridle.service

{{- if not .quickshell.caelestia }}
# Load Dunst Notification Manager
exec-once = systemctl start --user dunst.service
{{- end }}

{{- if not .quickshell.caelestia }}
# Using hyprpaper for wallpaper
exec-once = hyprpaper
{{- end }}

{{- if not .quickshell.caelestia }}
# Start OSD service
exec-once = avizo-service
{{- end }}

# Setup clipboard
exec-once = wl-clip-persist --clipboard regular

# Load cliphist history
# exec-once = wl-paste --watch cliphist store

# Start easyeffect in the background
# exec-once = easyeffects --gapplication-service
# Start openrgb in the background
# exec-once = openrgb --startminimized --profile "Default"
# Start Blueman
# exec-once = blueman-applet
# Start NetworkManager applet
# exec-once = nm-applet
# Start Element
exec-once = [workspace 11 silent] element-desktop --password-store="gnome-libsecret"
# Start Discord
exec-once = [workspace 11 silent] discord

exec-once = hyprctl dispatch workspace 1
