# ----------------------------------------------------- 
# Plugins
# ----------------------------------------------------- 

plugin {
  {{- if .hyprland.hy3 }}
  hy3 {
    # Docs: https://github.com/outfoxxed/hy3#configuration
    autotile {
      enable = true         # default: false
      trigger_width = 700   # default: 0
      trigger_height = 0    # default: 0
    }
  }
  {{- end }}
}