# ----------------------------------------------------- 
# General window layout and colors
# ----------------------------------------------------- 

general {
{{- if .quickshell.noctalia }}
    gaps_in = 5
    gaps_out = 10
{{- else }}
    gaps_in = 8
    gaps_out = 10
{{- end }}
    border_size = 2
    col.active_border = rgba(33ccffee) rgba(00ff99ee) 45deg
    col.inactive_border = rgba(595959aa)
    {{- if .hyprland.hy3 }}
    layout = hy3
    {{- else }}
    layout = dwindle
    {{- end }}
    resize_on_border = true
}