workspace = 1, monitor:DP-2, default:true, defaultName:Main, persistent:true
workspace = 2, monitor:DP-2
workspace = 3, monitor:DP-2
workspace = 4, monitor:DP-2
workspace = 5, monitor:DP-2
workspace = 6, monitor:DP-2
workspace = 7, monitor:DP-2
workspace = 8, monitor:DP-2
workspace = 9, monitor:DP-2
workspace = 10, monitor:DP-2, defaultName:Gaming, border:false, rounding:false, gapsout:0, gapsin:0, shadow:false

workspace = 11, monitor:HDMI-A-1, default:true, defaultName:Socials, persistent:true
workspace = 12, monitor:HDMI-A-1, defaultName:Music, on-created-empty:spotify-launcher
workspace = 13, monitor:HDMI-A-1 
workspace = 14, monitor:HDMI-A-1 
workspace = 15, monitor:HDMI-A-1 
workspace = 16, monitor:HDMI-A-1 
workspace = 17, monitor:HDMI-A-1 
workspace = 18, monitor:HDMI-A-1 
workspace = 19, monitor:HDMI-A-1 
workspace = 20, monitor:HDMI-A-1 